@model StoreWeb.ViewModels.VMIndex
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    @Html.Partial("PartialKategoriMenu", Model.Kategoriler)
</p>
<hr />
<p>
    @Html.Partial("FavoriUrunlerPartial", Model.FavoriUrunlar)
</p>
<hr />
<p>
    @Html.Partial("YeniGelenlerPartial", Model.YeniGelenler)
</p>
<hr />
<p>
    @Html.Partial("EnCokSatanlarPartial", Model.EnCokSatanlar)
</p>
<hr />
<p>
    @Html.Partial("BitmesiYakinUrunlerPartial", Model.BitmesiYakinUrunler)
</p>