@model CoreLayer.Entities.Uye
@using Microsoft.AspNetCore.Http
@using CoreLayer.Entities
@{
    ViewData["Title"] = "Profilim";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div style="display:none;height:35px;width:150px;position:fixed;top:50px;right:20px;background-color:whitesmoke" id="fixedSepet">
    <div>
     Sepet(@Model.sepet.SepetDetay.Count)   <img src="~/img/sepet.jpg" height="30" width="30" onclick="toggle(1)" />
    </div>
    </div>
<h1>Profilim</h1>
<div class="row-cols-1" id="prof" style="width:100%">
    <div style="width:80%;min-height:350px; background-color:lavenderblush;box-shadow:2px 8px 4px 2px;border-color:azure" class="com">
        <h3>ÜYELİK BİLGİLERİM</h3>
        <div class="icerik">
            <table class="table">
                <tr>
                  <td colspan="2"><strong>Ad Soyad:</strong>@Model.Ad @Model.Soyad </td>
                </tr>
                <tr><td><strong>Mail:</strong>@Model.Mail</td><td><strong>Telefon:</strong>@Model.Telefon</td></tr>
                <tr><td colspan="2"><strong>Adres:</strong>@Model.Adres</td></tr>
                <tr><td>Bu güne kadar toplam @Model.Faturalar.Count kez alışveriş yaptınız.</td><td>@if (Model.Faturalar.Count == 0)
            {
             <a href="/Urun/Urunler" style="color:darkslateblue">Alışverişe Başla</a>
            }
</td></tr>
                @if (Model.sepet != null) { 
                <tr><td colspan="2">Sepetinizde Şuanda @Model.sepet.SepetDetay.Count adet ürün bulunmaktadır.<p> <a href="/Urun/Urunler" style="color: darkmagenta;">Alışverişe devam etmek için tıklayın.</a></p></td></tr>}
            
            <tr><td><div>
    <input type="submit" class="btn btn-outline-secondary" id="mailGonder"  value="Şifre Değiştirme Maili Gönder" />
</div></td>
                <td>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
        DÜZENLE
    </button>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ÜYELİK BİLGİLERİ</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="uyelikGuncelle" name="frmUye">
                        <table class="table">
                         <tr>
                                <td>
                                AD
                                </td>
                                <td><input type="text" name="Ad" value="@Model.Ad" />
                             
                                </td>
                            </tr>
                            <tr>
                                <td>SOYAD</td>
                                <td><input type="text" name="Soyad" value="@Model.Soyad" /></td>
                            </tr>
                            <tr>
                                <td>TELEFON</td>
                                <td><input type="text" name="Telefon" value="@Model.Telefon" /> 
                                </td>
                                
                            </tr>
                            <tr>
                                <td>ADRES</td>
                                <td>
                                    <textarea class="form-control" id="Adres" name="Adres">@Model.Adres</textarea>
                                </td>
                            </tr>
                            <tr><td colspan="2"><button class="btn btn-outline-success" > Kaydet</button></td></tr>
                            <tr><td colspan="2"></td></tr>
                            <tr><td colspan="2">@TempData["Hata"]</td></tr>
                            <tr style="display:none">
                                <td>
                                    <input type="text" name="Id" value="@Model.Id" />
                                    <input type="text" name="cinsiyet" value="@Model.cinsiyet" />
                                    <input type="text" name="Sifre" value="@Model.Sifre" />
                                    <input type="checkbox" checked="@Model.Yetki" name="Yetki" value="@Model.Yetki" />
                                    <input type="text" value="@Model.Mail" name="Mail"/>
                                </td>
                            </tr>
                        </table>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>


</td></tr>
            </table>
        </div>
    </div>
    <div style="width:35%;min-height:50px;background-color:floralwhite;box-shadow:2px 4px 8px 2px;position:fixed;top:80px;right:50px" class="com" id="spt">

        <h3>SEPETİM</h3>
        @if (Model.sepet.SepetDetay.Count > 0)
        {<div class="icerik" id="icerikSepet">
                <table>
                    <tr>
                        <th>
                            RESİM
                        </th>
                        <th>
                            ÜRÜN ADI
                        </th>
                        <th>
                            ÜCRET
                        </th>
                        <th>SİL</th>
                    </tr>

                    @foreach (var item in Model.sepet.SepetDetay)
                    {
                        <tr>
                            <td>
                                <img src="@item.urun.Resim" height="100" width="100" />
                            </td>
                            <td>
                                @item.urun.UrunAdi
                            </td>
                            <td>
                                <span id="birimFiyat_@item.Id">   @item.urun.Ucret</span>
                            </td>
                            <td><button class="btn-danger" onclick="sil(@item.Id);" id="sil_@item.Id" style="background-color:red;color:white;">Sil</button></td>
                        </tr>
                    }
                    <tr>
                        <td style="text-align:right">
                            <strong>TUTAR: </strong>
                        </td>
                        <td colspan="2">
                            <span id="toplamFiyat"> @Model.sepet.SepetDetay.Sum(x => x.urun.Ucret)</span> TL
                        </td>
                    </tr>
                    <tr><td colspan="3" style="text-align:center"><button class="btn btn-danger btnSiparisVer">Sipariş Ver</button></td></tr>

                </table>
            </div>
        }
        else
        {
            <div>Sepetinizde hiç ürün bulunmuyor.<a href="/Urun/Urunler" style="color:darkslateblue">Alışverişe Başla</a></div>
        }
        <button onclick="toggle(0);" style="background-color:cornsilk;border:0px;">Küçült</button>
    </div>
</div>
<div style="margin-top:50px">
    <h3>SİPARİŞ TAKİP</h3>
    <table class="table">
        @if (Model.Siparisler==null)
        {
            <tr><td colspan="4">Takip edilecek bir siparişiniz bulunmuyor.</td></tr>
        }
        else
        {
            <tr>
                <th>Sipariş Kodu</th>
                <th>Sipariş Tarihi</th>
                <td>Sipariş Detay</td>
                <th></th>
            </tr>
            @foreach (var item in Model.Siparisler)
            {
                @if (item.Puan == 0)
                {
                    <tr>
                        <td>@item.SiparisKodu</td>
                        <td>@item.SiparisTarihi</td>
                        <td></td>
                        @if (item.SiparisDurumu == (Durum)3)
                        {
                            <td>
                                <select class="form-control" id="puan_@item.Id">
                                    @for (int i = 0; i < Puanlama.GetNames(typeof(Puanlama)).Length; i++)
                                    {
                                        <option value="@i">
                                            @Puanlama.GetNames(typeof(Puanlama))[i]
                                        </option>
                                    }
                                </select><button id="@item.Id" class="btnPuan">Puanla</button>
                            </td>
                        }
                        else
                        {
                            <td>
                                <button class="btn btn-outline-success" id="@item.SiparisDurumu" onclick="siparisNerde(this);">Siparişim Nerde?</button>
                            </td>
                        }
                    </tr>
}  }}
    </table>
</div>
@if (Model.Faturalar.Count>0 ) {
<div>
    
    <div>
        <table class="table" style="margin-top:50px">
            <tr><th colspan="2"><h4>FATURA BİLGİLERİM</h4></th></tr>
            <tr>
                <th>ALIŞVERİŞ KODU</th>
                <th>ALIŞVERİŞ TARİHİ</th>
            </tr>
            @foreach (var item in Model.Faturalar)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.AlisverisTarihi</td>
                    <td></td>
                </tr>
            }
            <tr><td colspan="3">Detayları mail adresinizden kontrol edebilirsiniz.</td></tr>
        </table>
        </div>
    </div> }

<script>
    function siparisNerde(btn) {
        var durum = btn.id;
      
        swal(durum == "Kargoda" ? "Siparişiniz Kargoya Verilmiştir" : "Siparişiniz Hazırlanıyor", durum == "Kargoda" ? "Fatura için Mailinizi Kontrol Ediniz" : "Beklediğiniz için Teşekkürler", "success");
    }
    function toggle(durum) {
        var sepet = document.getElementById("spt");
        var fixed = document.getElementById("fixedSepet");
        if (durum == 0) {
            sepet.style.display = "none";
            fixed.style.display = "block";
        }
        else {
            sepet.style.display = "block";
            fixed.style.display = "none";
        }
    }

    $('.btnPuan').click(function () {
        var id = $(this).attr("id");
        var puan = $("#puan_" + id).val();
        let xhr = new XMLHttpRequest;
        xhr.open("POST", "/Siparis/Puanla?puan=" + puan+"&id="+id, true);
        xhr.send();
        this.parentNode.parentNode.remove();
        swal("Puanlama Tamamlandı!", puan >= 3 ? puan + " puan verdiniz.Teşekkür Ederiz" : puan+"puan verdiniz.Özür dileriz", "success");
     
    });

    
    $('#mailGonder').click(function () {
        $.ajax({
            type: 'POST',
            url: '/Kullanici/MailGonder',
            success: function (data) {

                swal("Mail Gönderildi", "Mailini Kontrol Et!", "success");
            },
            error: function (error) {
                console.log("error", error);
            }
        });
    });


    $('.btnSiparisVer').click(function () {
        $.ajax({
            type: 'POST',
            url: '/Siparis/SiparisVer',
            success: function (data) {
                var spt = document.getElementById("spt");
                var div = document.createElement("div");
                div.innerText = "Sepetinizde hiç ürün bulunmuyor.";
                var a = document.createElement("a");
                a.href = "/Urun/Urunler";
                a.style.color = "darkslateblue";
                a.innerText = "Alışverişe Başla";
                div.appendChild(a);
                spt.appendChild(div);
                var urunler = document.querySelectorAll("#icerikSepet table tr");
                for (var i = 0; i < urunler.length; i++) 
                    urunler[i].remove();
                //var td = document.createElement("td");
                swal("Sipariş Verildi!", "Profilinizden Takip Edebilirsiniz!", "success");
            },
            error: function (error) {
                console.log("error", error);
            }
        });
    });

    $('#uyelikGuncelle').submit(function (e) {
            e.preventDefault();
            var formData = $(this).serialize();
            var id = $(this).attr("id");
            $.ajax({
                type: 'POST',
                url: '/Kullanici/BilgileriGuncelle',
                data: formData,
                success: function (data) {
                  

                },
                error: function (error) {
                    console.log("error", error);
                }
            });
        });

    function sil(id) {
        var urunFiyat = document.getElementById("birimFiyat_" + id);
        var toplamFiyat = document.getElementById("toplamFiyat");
        toplamFiyat.innerText = parseFloat(toplamFiyat.innerText) - parseFloat(urunFiyat.innerText);
        let xhr = new XMLHttpRequest;
        xhr.open("POST", "/MVCSepet/SepettenCikar?id=" + id, true);
        xhr.send();
        var find = document.getElementById("sil_" + id);
        //adet.innerText = parseInt(adet.innerText) - 1;
        find.parentNode.parentNode.remove();
    }
</script>
<style>
    #prof{
        display:grid;
        grid-template-columns:70% 30%;
        width:100%;
    }
    #prof .com {
        float: left;
        margin-left: 1%;
    }

    h3 {
        color:black;
    }
    .yildiz {
        font-size: 30px;
    }
</style>