@model List<CoreLayer.Entities.Kategori>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div style="text-align:center;margin-top:60px">
    <input type="text" placeholder="Kategori, AltKategori veya Ürün adı arayın." id="ara" />
</div>
<div  id="panelAdmin">
    
    
    @foreach (var kategori in Model)
    {
        <div id="kategori_@kategori.Id" class="kategoriAccordion" onclick="Goster(@kategori.Id,'kategori')">
            <h3 style="background-color:@kategori.Renk" class="kat">@kategori.KategoriAdi<button onclick="accordionSil(@kategori.Id,'kategori');">X</button></h3>
        </div> <div class="listeAltkategori" id="alt_kategori_@kategori.Id">
            @foreach (var altKategori in kategori.altKategoriler)
            {
                <div style="background-color:@altKategori.Renk" class="li kategori_@kategori.Id" onclick="Goster(@altKategori.Id,'altKategori')" id="altKategori_@altKategori.Id">
                    @altKategori.AltKategoriAdi<button onclick="accordionSil(@altKategori.Id,'altKategori');" id="btn_@altKategori.Id">X</button>
                </div>
                <div class="urunlerAccordion altKategori_@altKategori.Id" id="alt_altKategori_@altKategori.Id">
                    @foreach (var urun in altKategori.Urunler)
                    {
                        <div class="urunAdmin" id="urun_@urun.Id">
                            @urun.UrunAdi    <button onclick="accordionSil(@urun.Id, 'urun');">X</button>
                        </div>
                    }
                    <div class="urunAdmin ekleForm" id="urun_-1">
                        <h3 style="color:darkblue">Yeni Ürün Ekle (@altKategori.AltKategoriAdi)</h3>
                        <form class="urunForm">
                            <div class="form-group">
                                <label>Resim</label>
                                <input type="file" class="form-control" name="Resim" />
                            </div>
                            <div class="form-group">
                                <label>Ürün Adı</label>
                                <input id="txt" class="form-control" name="UrunAdi" />
                            </div>
                            <div class="form-group">
                                <label>Fiyat</label>
                                <input class="form-control" name="Ucret" />
                            </div>
                            <div class="form-group">
                                <label>Adet</label>
                                <input class="form-control" name="Adet" />
                            </div>
                            <input type="text" disabled name="" />
                            <div class="form-group">
                                <label>Kime Göre?</label>
                                <select>
                                    <option name="">asdasda</option>
                                </select>
                                <input type="text" name="CinsiyetId" value="1" />
                                <input type="text" name="AltKategoriId" value="@altKategori.Id" />
                            </div>
                            <button type="submit" class="btn btn-success">EKLE</button>
                        </form>

                    </div>
                </div>
            }
            <div class="li kategori_-1" onclick="Goster(@kategori.Id, 'altKategoriEkle')" id="altKategori_-1">
                Yeni Alt Kategori Ekle(@kategori.KategoriAdi)
            </div>
            <div class="urunlerAccordion altKategori_-1" id="alt_altKategoriEkle_@kategori.Id">
                <form class="altForm">
                    <div class="form-group">
                        <label>Alt Kategori Adı</label>
                        <input class="form-control" name="AltKategoriAdi" />
                    </div>
                    <input class="form-control" name="KategoriId" id="@kategori.Id" value="@kategori.Id" />
                    <button type="submit" class="btn btn-success">EKLE</button>
                </form>
            </div>
        </div>
    }
</div>
    <div class="kategoriAccordion" onclick="Goster(-1,'KategoriEkle')">
        <h3 style="background-color:blueviolet">YENİ KATEGORİ EKLE(+)</h3>
    </div>
    <div id="alt_KategoriEkle_-1" style="display:none">
        <form class="form">
            <div class="form-group">
                <label>Kategori Adı</label>
                <textarea class="form-control" name="kategoriAdi"></textarea>
            </div>
            <button type="submit" class="btn btn-success">EKLE</button>
        </form>
    </div>

    <script>
        //yollanılan 2. parametreye göre çalışacak olan metotlar...
        //değişen tek kısımları 2. parametrelerdir. Yani koda tek satır kod ile eklenecektir.



        function Goster(id, tiklanan) {
            var acc = document.getElementById("alt_" + tiklanan + "_" + id);
            if (acc.style.display == "none")
                acc.style.display = "block";
            else
                acc.style.display = "none";
        }
        function accordionSil(id, silinecek) {

            //ajax işlemleri eklenecek
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/Admin/" + silinecek + "Sil?id=" + id, true);
            xhr.send();
            var obj = document.getElementById(silinecek + "_" + id);
            obj.remove();
            if (silinecek != "urun") {
                var alt = document.getElementById("alt_" + silinecek + "_" + id);
                alt.remove();
            }
        }
        //KATEGORİ EKLE
        $('.form').submit(function (e) {

            e.preventDefault();
            var formData = $(this).serialize();
            $.ajax({
                type: 'POST',
                url: '/Admin/KategoriEkle',
                data: formData,
                success: function (data) {
                    console.log("data", data);

                },
                error: function (error) {
                    console.log("error", error);
                }
            });
        });

        //ALT KATEGORİ EKLE
        $('.altForm').submit(function (e) {
            e.preventDefault();

            var formData = $(this).serialize();

            $.ajax({
                type: 'POST',
                url: '/Admin/altKategoriEkle',
                data: formData,
                success: function (data) {
                    console.log("data", data);
                    var div = document.createElement("div");
                    div.className = "li kategori_1";
                    div.innerText = data.AltKategoriAdi;
                    var k = document.getElementById(1);
                    var id = k.value;
                    //var veri = JSON.parse(data);
                    //var altKategori = Array.from(veri);
                    alert(data.Id);
                    var d = document.getElementById("alt_kategori_" + id);
                    d.appendChild(div);

                },
                error: function (error) {
                    console.log("error", error);
                }
            });
        });


        //ÜRÜN EKLEME//NASIL TEKE İNDİRİLLİR?

        $('.urunForm').submit(function (e) {

            e.preventDefault();
            var formData = $(this).serialize();
            $.ajax({
                type: 'POST',
                url: '/Admin/urunEkle',
                data: formData,
                success: function (data) {

                    console.log("data", data);

                },
                error: function (error) {
                    console.log("error", error);
                }
            });
        });

        //function ekleListeye(id) {
        //    var txt = document.getElementById("txt");
        //    var d = document.getElementById("#alt_altKategori_" + id)
        //    var div = document.createElement("div");
        //    div.className = "urunAdmin";
        //    div.innerText = txt.value;
        //    var buton = document.createElement("button");
        //    buton.value = "X";
        //    div.appendChild(buton);
        //    d.appendChild(div);
        //}

        //function ara() {
        //    var txt = document.getElementById("ara");
        //    var divler = document.querySelectorAll("#panelAdmin div");


        //}
        //Arama Motoru
        $(document).ready(function () {
            $("#ara").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#panelAdmin div").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

    </script>

    <style>
        h3 {
            height: 80px;
            font-size: 40px;
            color: whitesmoke;
            padding-top: 15px;
            text-align: center;
        }

        .kategoriAccordion:focus ul {
            display: block;
        }

        .listeAltkategori {
            display: none;
        }

        .urunlerAccordion {
            display: none;
        }

        .li {
            height: 40px;
            font-size: 20px;
            padding-top: 10px;
            list-style-type: none;
            background-color: beige;
            margin-top: 5px;
        }

        .ekleForm {
            box-shadow: 2px 4px 4px 2px;
            border: 1px solid;
            margin-top: 20px;
        }

        .kategoriAccordion {
            background-color: brown;
        }
        #ara {
            border: 0px;
            background-color: darkkhaki;
            height: 100px;
            width: 80%;
            font-size: 20px;
        }
        #ara:focus{
            border:5px solid;
            background-color:beige;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    </style>
