@model List<CoreLayer.Entities.Siparis>
@using CoreLayer.Entities
@{
    ViewData["Title"] = "SiparisDurumu";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style=" margin-top:60px;display:grid;grid-template-columns:20% 75%;margin-left:auto; margin-right:auto;">
    <div>
        @for (int i=0;i< Durum.GetNames(typeof(Durum)).Length;i++)
        {
        <a href="/Admin/SiparisDurumu?id=@i"><div class="siparisDurumu">@Durum.GetNames(typeof(Durum))[i]</div></a>
        }
    </div>
    <div>
        <table class="table">
            <tr style="background-color:burlywood">
                <th>Sipariş Kodu</th>
                <th>Sipariş Tarihi</th>
                <th>Sipariş Sahibi</th>
                <th>İletişim Bilgileri</th>
                <th>Sipariş Durumu</th>
                <th></th>
                <th>Detay</th>
            </tr>
            @foreach (var item in ((List<Siparis>)TempData["siparisler"]))
            {
                <tr id="tr_@item.Id">
                    <td>@item.SiparisKodu</td>
                    <td>@item.SiparisTarihi.ToString("dd/MMM/yyyy")</td>
                    <td>@item.uye.Ad @item.uye.Soyad</td>
                    <td>@item.uye.Telefon</td>
                    
                    <td>
                    @if(((int)item.SiparisDurumu+1)<Durum.GetNames(typeof(Durum)).Length) {
                    <select id="dropEnum">
                            <option class="opt" id="@((int)item.SiparisDurumu+1)">@Durum.GetNames(typeof(Durum))[((int)item.SiparisDurumu)+1]</option>
                        </select>}
                else
                {
                    if (item.Puan != 0) { 
                    <strong>@((Puanlama)item.Puan)</strong>}
                    else { <strong>Bekleniyor</strong>}
                }
                    </td>
                    <td>
                        @if (((int)item.SiparisDurumu + 1) < Durum.GetNames(typeof(Durum)).Length)
                        {
                            <button class="btn btn-light btnEnum" id="@item.Id">Güncelle</button>
                        }
                    </td>
                    <td>
                        <a href="/Admin/SiparisDetay?id=@item.Id">İncele</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
<div id="a">

</div>
<script>
    $(document).ready(function () {
        $('.btnEnum')
            .click(function () {
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/Admin/SiparisOlay?durum=" + $(".opt").attr("id") + "&id=" + $(this).attr("id"), true);
                xhr.send();
                var id = $(this).attr("id");
                var tr = document.getElementById("tr_" + id);
                tr.remove();

            });
            
        });
</script>

<style>
    .siparisDurumu{
        height:40px;
        width:80%;
        margin-left:auto;
        margin-right:auto;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size:150%;
        font-weight:bold;
        color:black;
        background-color:burlywood;
        border:1px solid;
        margin:2px;
        text-align:right

    }
</style>