@model StoreWeb.ViewModels.UrunVeBenzerUrunler
@{
    ViewData["Title"] = "Detay";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@using Microsoft.AspNetCore.Http 

@Html.Partial("PartialKategoriMenu", Model.kimeGore)

<div id="detay">
    <div class="card mb-3" style="width: 65%; margin-top:100px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="/Products/@Model.urun.Resim" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body" style="text-align:left">
                    <h5 class="card-title" id="name" style="background-color:lightblue;font-size:14pt;font-weight:bold">@Model.urun.UrunAdi</h5>
                    <p class="card-text"><small class="text-muted">Satıcı:<a href="/Page/Hakkimizda" style="color:darkblue">Biz</a> </small></p>
                    <p class="card-text">   <strong> Fiyat:</strong><span style="color:orangered;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;font-size:15pt">@(Model.urun.Ucret+10) TL</span><span style="font-size:12pt;margin-left:20px;border:2px solid @Model.urun.altKategori.Renk">Sepette İndirimli</span></p>
                    <hr />
                    <p class="card-text"><strong>BEDEN:</strong><span id="bdn"> @Model.urun.Beden</span> | <button class="beden" style="margin-left:10px">S</button><button class="beden">M</button><button class="beden">L</button><button class="beden">XL</button><br /></p>
                    <p class="card-text">
                    <strong>RENK SEÇ:</strong>
                    @for (int i = 1; i <= 5; i++)
                    {
                       <button class="renk" style="background-color:rgb(@(i*67),@(i*59), @(i*37))">A</button>
                    } </p>
                    <strong> Kim İçin:</strong>@Model.urun.kimeGore.kimeGore <br />
                 

                    @if (Model.sepet.SepetDetay.Where(x => x.UrunId == Model.urun.Id).SingleOrDefault() == null)
                    {<p class="card-text" id="ekle" style="text-align:center">
                            <button class="btn-danger" id="ekle_@Model.urun.Id" onclick="sepeteEkle(@Model.urun.Id);">EKLE</button>
                        </p>
                        <p class="card-text" id="kaldir" style="display:none;text-align:center">
                            <button class="btn-danger" id="kaldir_@Model.urun.Id" onclick="kaldir(@Model.urun.Id);">KALDIR</button>
                        </p>
                    }
                    else
                    {<p class="card-text" id="ekle" style="display:none;text-align:center">
                            <button class="btn-danger" onclick="sepeteEkle(@Model.urun.Id);">EKLE</button>
                        </p>
                        <p class="card-text" id="kaldir" style="text-align:center">
                            <button class="btn-danger" id="kaldir_@Model.urun.Id" onclick="kaldir(@Model.urun.Id);">KALDIR</button>
                        </p>
                    }
                </div>
            </div>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">

            <strong> SEPETİM </strong>
            <strong id="adet">@Model.sepet.SepetDetay.Count</strong><span> ürün bulunuyor.</span>
        </button>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">SEPETİM</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    
                    <table class="table" id="tbl_List">
                        @if (Model.sepet.SepetDetay.Count > 0)
                        {
                            <tr>
                                <th>
                                    Ürün Adı
                                </th>
                                <th>
                                    Adet
                                </th>
                                <th></th>
                            </tr>
                        

                        @foreach (var item in Model.sepet.SepetDetay)
                        {
                            <tr class="trUrun_@item.UrunId" id="@item.Id">
                                <td>
                                    @Html.DisplayFor(modelItem => item.urun.UrunAdi)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Adet)
                                </td>
                                <td><button class="btn-danger" onclick="sil(@item.Id);" id="sil_@item.Id" style="background-color:red;color:white;">Sil</button></td>
                            </tr>
                        }}
            else {
                         <tr id="urunYok"><th colspan="3">Sepetinizde hiç bir ürün bulunamadı</th></tr>
                        }
                    </table>
                </div>
                <div class="modal-footer">  <button onclick="temizle(@Model.sepet.Id);"><img src="~/img/temizle.png" height="45" width="70" /></button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeç</button>
                    <button type="button" class="btn btn-primary" formmethod="get" formaction="Profilim"><a href="/Kullanici/Profilim">Sepete Git</a></button>
                </div>
            </div>
        </div>
    </div>
</div>
<h2>ÖNERİLEN BENZER ÜRÜNLER</h2>
<div class="row-cols-2" id="benzer">
    @foreach (var item in Model.BenzerUrunler)
    {
        <a href="/Urun/Detay?id=@item.Id">
            <div class="u">
                <div> <img src="/Products/@item.Resim" width="200" height="300"/></div>
                
                <div class="ad" style="background-color:@item.altKategori.kategori.Renk">
                    @if (item.UrunAdi.Length > 25)
                    {

                        <strong > @item.UrunAdi.Substring(0, item.UrunAdi.Substring(0, 25).LastIndexOf(" "))</strong>}
                    else
                    {
                            <strong> @item.UrunAdi</strong>
                    }
                </div>
            </div>
        </a>
    }
</div>
<script>
    var butonlar = document.getElementsByClassName("beden");
    var beden = document.getElementById("bdn");
    for (var i = 0; i < butonlar.length; i++) {
        butonlar[i].addEventListener("click", function () {
            beden.innerText = this.innerText;
           // this.style.border = 4+'px' 'solid' 'orange';
            
        });
    }

    var renkler = document.getElementsByClassName("renk");
    for (var i = 0; i < renkler.length; i++) {
        renkler[i].addEventListener("click", function () {
            for (var j = 0; j < renkler.length; j++) {
                renkler[j].style.border = "1px solid black";
            }
            this.style.border= "4px solid black";
        })
    }


    function temizle(id) {
        let xhr = new XMLHttpRequest;
        xhr.open("POST", "/MVCSepet/SepetiTemizle?id=" + id, true);
        xhr.send();

        var btnEkle = document.getElementById("ekle");
        var btnKaldir = document.getElementById("kaldir");
        btnEkle.style.display = "block";
        btnKaldir.style.display = "none";
        document.getElementById("ekle").value = "EKLE";
        document.getElementById("tbl_List").innerHTML = "";
         document.getElementById("adet").innerText=0;

    }

  
    function sil(id) {
        var adet = document.getElementById("adet");
        let xhr = new XMLHttpRequest;
        xhr.open("POST", "/MVCSepet/SepettenCikar?id=" + id, true);
        xhr.send();
        var find = document.getElementById("sil_" + id);
        adet.innerText = parseInt(adet.innerText) - 1;
        var btn = document.getElementById("kaldir_" + id);
        if (btn != null) {
            btnEkle.style.display = "block";
            btnKaldir.style.display = "none";
        }
        find.parentNode.parentNode.remove();
    }
    function kaldir(id) {
        var btnEkle = document.getElementById("ekle");
        var btnKaldir = document.getElementById("kaldir");
        var tr = document.getElementsByClassName("trUrun_" + id);
        sil(tr[0].id);
        //btnEkle.style.display = "block";
      //  btnKaldir.style.display = "none";
    }

    function sepeteEkle(id) {
        var urun = document.getElementById("name");
        var adet = document.getElementById("adet");
        var btnEkle = document.getElementById("ekle");
        var btnKaldir = document.getElementById("kaldir");
        var tablo = document.getElementById("tbl_List");
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/MVCSepet/SepetEkle?UrunId=" + id, true);
            xhr.send();
            btnEkle.style.display = "none";
            btnKaldir.style.display = "block";
            adet.innerText = parseInt(adet.innerText) + 1;
            var tr = document.createElement("tr");
            var td1 = document.createElement("td");
            var td2 = document.createElement("td");
            var td3 = document.createElement("td");
            var btn = document.createElement("button");
            btn.id = "sil_" + id;
            btn.addEventListener("click", function () {
            sil(id);
            });
            btn.style.backgroundColor = "red";
            btn.style.color = "white";
            btn.style.height = "maxContent";
            btn.innerText = "Sil";
            btn.className = "btn-danger";
            td1.innerText = urun.innerText;
            td2.innerText = 1;
            td3.appendChild(btn);
            tr.appendChild(td1);
            tr.appendChild(td2);
            tr.appendChild(td3);
        tablo.appendChild(tr);
        var urunYok = document.getElementById("urunYok");
        urunYok.remove();
    }
    //function remove(id) {
    //    let find = document.getElementById(id).parentNode.parentNode;
    //    debugger
    //    var productId = id.toString();
    //    $.ajax({
    //        url: "/Sepet/SepettenCikar?Id=" + productId,
    //        type: "POST",
    //        dataType: "json",
    //        success: function (data) {
    //            console.log(data);
    //            find.parentNode.removeChild(find);
    //        },
    //        error: function () {
    //            console.log("error!");
    //        }
    //    });
    //}

    //function ajaxRequest() {
    //    let xhr = new XMLHttpRequest();
    //    xhr.onreadystatechange = function () {
    //        if (xhr.readyState == 4 && xhr.status == 200) {
    //            xhr.setRequestHeader("Access-Control-Allow-Origin", null);
    //            let jsonDatas = JSON.parse(xhr.responseText).data;//jsondan objeye,bu objedeki data propertysini aldık
    //            let datas = Array.from(jsonDatas);//jsondan objeye//her zaman gerekmez
    //            //alert(datas);
    //            let str = "<table border=1>"
    //            document.writeln(jsonDatas.length);
    //            for (data of jsonDatas) {
    //                str += "<tr>";
    //                // for(dat in data)
    //                // str+="<td>"+data[dat]+"</td>";
    //                str += "<td>" + data.first_name + "</td>" + "<td>" + data.last_name + "</td>" + "<td><img src='" + data.avatar + "'></td>";
    //                str += "</tr>";
    //            }
    //            str += "</table>";
    //            //JSON.stringify();//objeden jsona
    //            document.writeln(str);
    //        }
    //    }
    //    xhr.open("DELETE", "", true);//ilk parametre metod,2. adres,3. asonkron olup olmayacagı,4 ve 5. parametre server kullanımı için ad pw girişi
    //    xhr.send();
    //}

    //function remove(id) {
    //    let find = document.getElementById(id).parentNode.parentNode;
    //    debugger
    //    var productId = id.toString();
    //    $.ajax({
    //        url: "/Sepet/SepettenCikar?Id=" + productId,
    //        type: "POST",
    //        dataType: "json",
    //        success: function (data) {
    //            console.log(data);
    //            find.parentNode.removeChild(find);
    //        },
    //        error: function () {
    //            console.log("error!");
    //        }
    //    });
    //}

</script>


<style>
    .renk{
        height:30px;
        width:30px;
    }
    #benzer .u {
        float: left;
        margin-left: 1%;
        margin-top: 50px;
    }

    #detay {
        text-align: center;
    }
    .beden{
        border-radius:10px;
        border:1px solid;
        height:28px;
        width:40px;
        margin-left:5px;
    }
    .ad{
        background-color:black
    }
</style>