@model StoreWeb.ViewModels.UrunVeBenzerUrunler
@{
    ViewData["Title"] = "Detay";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
@*Sweet kullanmak icin*@
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>


@Html.Partial("PartialKategoriMenu", Model.kategoriler)

<div id="detay">
    <div class="card mb-3" style="max-width: 540px; margin-top:100px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="@Model.urun.Resim" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title" id="name" style="background-color:@Model.urun.altKategori.kategori.Renk">@Model.urun.UrunAdi</h5>
                    <p class="card-text"><strong>BEDEN:</strong> @Model.urun.Beden<br /><strong> Kim İçin:</strong>@Model.urun.cinsiyet.cinsiyet<br /><strong> Fiyat:</strong>@Model.urun.Ucret TL</p>
                    <p class="card-text"><small class="text-muted">@Model.urun.EklenmeTarihi.ToString("dd/MMM/yyy/")</small></p>
                    <p class="card-text">
                       
                        <input type="submit" class="btn-danger" id="ekle" onclick="sepeteEkle(@Model.urun.Id);" value="EKLE" />
</div>
            </div>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <strong> SEPETİM</strong> <strong id="adet">@Model.sepet.SepetDetay.Count</strong> ürün bulunuyor.
            </button>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">SEPETİM</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table" id="tbl_List">
                       
                            @if (Model.sepet.SepetDetay.Count <= 0) {
                                <tr><th colspan="3">Sepetinizde hiç bir ürün bulunamadı</th></tr>}
                            else
                            {
                            <tr>
                                <th>
                                    Ürün Adı
                                </th>
                                <th>
                                    Adet
                                </th>
                                <th></th>
                            </tr>}
                            @foreach (var item in Model.sepet.SepetDetay)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.urun.UrunAdi)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Adet)
                                    </td>
                                    <td><button class="btn-danger" onclick="sil(@item.Id)" id="sil_@item.Id" style="background-color:red;color:white;">Sil</button></td>
                                </tr>
                            }
                            
                    </table>
                </div>
                <div class="modal-footer">
                    <button onclick="temizle(@Model.sepet.Id)"><img src="~/img/temizle.png" height="45" width="70" /></button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeç</button>
                    <button type="button" class="btn btn-primary">Sepete GİT</button>
                </div>
            </div>
        </div>
    </div>
</div>
<h2>ÖNERİLEN BENZER ÜRÜNLER</h2>
<div class="row-cols-4" id="benzer">
    @foreach (var item in Model.BenzerUrunler)
    {
        <a href="/Urun/Detay?id=@item.Id">
            <div class="u">
                <div> <img src="@item.Resim" /></div>
                <div style="background-color:@item.altKategori.kategori.Renk">  @item.UrunAdi</div>
            </div>
        </a>
    }
</div>
<script>
    function temizle() {
        document.getElementById("ekle").value = "EKLE";
        document.getElementById("tbl_List").innerHTML = "";
         document.getElementById("adet").innerText=0;
        let xhr = new XMLHttpRequest;
        xhr.open("POST", "/Sepet/SepetiSil?id=" + id, true);
        xhr.send();
    }
    function sil(id) {
        var adet = document.getElementById("adet");
        let xhr = new XMLHttpRequest;
        xhr.open("POST", "/Sepet/SepettenCikar/" + id, true);
        xhr.send();
        var find = document.getElementById("sil_" + id);
        adet.innerText = parseInt(adet.innerText) - 1;
        find.parentNode.parentNode.remove();
    }

    function sepeteEkle(id) {
        var urun = document.getElementById("name");
        var adet = document.getElementById("adet");
        var btn = document.getElementById("ekle");
        var tablo = document.getElementById("tbl_List");
        if (btn.value == "EKLE") {
            btn.value = "KALDIR";
            adet.innerText = parseInt(adet.innerText) + 1;
            var tr = document.createElement("tr");
            var td1 = document.createElement("td");
            var td2 = document.createElement("td");
            var td3 = document.createElement("td");
            var btn = document.createElement("button");
            btn.id = "sil_" + id;
            btn.addEventListener("click", function () {
                sil(id);
            });
            btn.style.backgroundColor = "red";
            btn.style.color = "white";
            btn.style.height = "maxContent";
            btn.innerText = "Sil";
            btn.className = "btn-danger";
            td1.innerText = urun.innerText;
            td2.innerText = 1;
            td3.appendChild(btn);

            tr.appendChild(td1);
            tr.appendChild(td2);
            tr.appendChild(td3);
            tablo.appendChild(tr);
        }
        else if (btn.value=="KALDIR") {
            btn.value = "EKLE";
            adet.innerText = parseInt(adet.innerText) - 1;
            var find = document.getElementById("sil_" + id);
            find.parentNode.parentNode.remove();
        }
    }

    //function remove(id) {
    //    let find = document.getElementById(id).parentNode.parentNode;
    //    debugger
    //    var productId = id.toString();
    //    $.ajax({
    //        url: "/Sepet/SepettenCikar?Id=" + productId,
    //        type: "POST",
    //        dataType: "json",
    //        success: function (data) {
    //            console.log(data);
    //            find.parentNode.removeChild(find);
    //        },
    //        error: function () {
    //            console.log("error!");
    //        }
    //    });
    //}

    //function ajaxRequest() {
    //    let xhr = new XMLHttpRequest();
    //    xhr.onreadystatechange = function () {
    //        if (xhr.readyState == 4 && xhr.status == 200) {
    //            xhr.setRequestHeader("Access-Control-Allow-Origin", null);
    //            let jsonDatas = JSON.parse(xhr.responseText).data;//jsondan objeye,bu objedeki data propertysini aldık
    //            let datas = Array.from(jsonDatas);//jsondan objeye//her zaman gerekmez
    //            //alert(datas);
    //            let str = "<table border=1>"
    //            document.writeln(jsonDatas.length);
    //            for (data of jsonDatas) {
    //                str += "<tr>";
    //                // for(dat in data)
    //                // str+="<td>"+data[dat]+"</td>";
    //                str += "<td>" + data.first_name + "</td>" + "<td>" + data.last_name + "</td>" + "<td><img src='" + data.avatar + "'></td>";
    //                str += "</tr>";
    //            }
    //            str += "</table>";
    //            //JSON.stringify();//objeden jsona
    //            document.writeln(str);
    //        }
    //    }
    //    xhr.open("DELETE", "", true);//ilk parametre metod,2. adres,3. asonkron olup olmayacagı,4 ve 5. parametre server kullanımı için ad pw girişi
    //    xhr.send();
    //}

    //function remove(id) {
    //    let find = document.getElementById(id).parentNode.parentNode;
    //    debugger
    //    var productId = id.toString();
    //    $.ajax({
    //        url: "/Sepet/SepettenCikar?Id=" + productId,
    //        type: "POST",
    //        dataType: "json",
    //        success: function (data) {
    //            console.log(data);
    //            find.parentNode.removeChild(find);
    //        },
    //        error: function () {
    //            console.log("error!");
    //        }
    //    });
    //}

</script>


<style>
    #benzer .u {
        float: left;
        margin-left: 5%;
        margin-top: 50px;
    }

    #detay {
        text-align: center;
    }
</style>