
@using CoreLayer.Entities
@using CoreLayer.Dtos
@model StoreWeb.ViewModels.VM_Urunler

@{
    ViewData["Title"] = "Urunler";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div style="display:grid;grid-template-columns:80% 20%">
    <div></div>
    <a href="/Urun/UrunEkle" style="color:black;font-size:12pt;text-align:right">Yeni Urun Ekle</a>
</div>

<div style="margin-top:20px">
    <select class="form-control drp" id="dr_kimeGore">
        <option value="0">Kime Gore?</option>
        @foreach (var item in Model.kimeGore)
        {
            <option value="@item.Id">
                @item.kimeGore
            </option>
        }
    </select>
    <select class="form-control drp" id="dr_altKategori">
        <option value="0">Alt Kategori Seç</option>
        @foreach (var item in Model.AltKategoris)
        {
            <option value="@item.Id">
               @item.kategori.KategoriAdi @item.AltKategoriAdi
            </option>
        }
    </select>
</div>
<hr />
<div class="container">
    <div class="row">
        @foreach (var item in Model.Urunler)
        {
        <div class="col-sm-2 resimUrun alt_@item.AltKategoriId kimeGore_@item.kimeGoreId kimeGore_0 alt_0 " style="margin-top:10px;display:grid;grid-template-rows:80% 20%">
          <img src="~/Products/@item.Resim" />
            <div style="display:grid;grid-template-columns:80% 20%">
            <div>@item.UrunAdi
                </div>
            <div>@item.Ucret
                </div></div>
        </div>
        }
    </div>
</div>

@*<div class="like-indicator"><svg class="like-indicator__heart like-indicator__heart--not-liked" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25.755 24.173" id="icon-not-liked"><path data-name="like (1)" d="M24.7 8.684c-.364-3.974-3.177-6.858-6.7-6.858a6.655 6.655 0 0 0-5.7 3.285 6.413 6.413 0 0 0-5.564-3.285C3.216 1.826.4 4.71.042 8.684a7.072 7.072 0 0 0 .21 2.606 11.178 11.178 0 0 0 3.425 5.715l8.618 7.821 8.766-7.82a11.18 11.18 0 0 0 3.425-5.716 7.087 7.087 0 0 0 .214-2.606z" transform="translate(.509 -1.326)" style="fill: rgb(255, 255, 255); stroke: rgb(155, 155, 155);"></path></svg></div>*@



<div class="sayfa">
    @if (Model.Urunler.Count % 8 != 0)
    {
        @for (int i = 0; i <= Model.Urunler.Count / 8; i++)
        {
            <button class="btnSayfa" onclick="sayfaDegistir(this);" id="@(i+1)">@(i+1)</button>}
    }
    else
    {
        @for (int i = 0; i <= Model.Urunler.Count / 8 - 1; i++)
        {
            <button class="btnSayfa" onclick="sayfaDegistir(this);" id="@(i+1)">@(i+1)</button>}

    }
</div>

<style>
    .drp{
        margin-top:15px;
    }
    .urunAdi{
        height:30px;
        width:100%;
        background-color:lightblue;
        margin-top:10px;
        text-align:center;
    }

    .btnSayfa {
        background-color: darkgrey;
        border: 0px;
    }

    .sayfa {
        text-align: center;
        background-color: cornsilk;
        width: 100%;
        margin: 60px auto;
        border: 1px solid;
    }

        .sayfa button {
            height: 25px;
            width: 25px;
            float: left;
            padding-bottom: 2px
        }
        .resimUrun{
            height:150px;
            margin:10px 10px
        }
    .sayfalama {
        color: black;
    }
    .yeniClass{
      
    }
    .rsm{
        transition:1s
    }
    .rsm:hover {
        transform: scale(1.05);
        transition-timing-function:ease-in-out;
    }
    .bosClass{

    }
    
</style>

<script>
    function sil(id) {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/Admin/urunSil?id=" + id, true);
        xhr.send();
    }
    function secil(img) {
        //res.className = "bosClass";
        res = img;
        img.className = "yeniClass";
    }
    function sayfalama() {
        var btn = document.createElement("button");
        
        btn.id = 1;
        sayfaDegistir(btn);
    }

    function sayfaDegistir(btn) {
        var page = btn.id;
        var urunler = document.getElementsByClassName("resimUrun");
        Temizle();
        btn.style.backgroundColor = "red";
        btn.style.color = "white";
        for (var i = (page - 1) * 8; i < page * 8; i++) {
            urunler[i].style.display = "block";
        }
    }
    function Temizle() {
        var urunler = document.getElementsByClassName("resimUrun");
        for (var i = 0; i < urunler.length; i++) {
            urunler[i].style.display = "none";
        }
        var butonlar = document.getElementsByClassName("btnSayfa");
        for (var i = 0; i < butonlar.length; i++) {
            butonlar[i].style.backgroundColor = "darkgrey";
            butonlar[i].style.color = "black";
        }
    }

    //Kime Göre ürünler Listelensin
    $("#dr_kimeGore").change(function () {
      //  alert("hg");

        var id = $(this).val();
        Temizle();
        var urunler = document.getElementsByClassName("kimeGore_" + id);
        var sayac = 8;
        if (urunler.length < 8)
            sayac = urunler.length
        for (var i = 0; i < sayac; i++) {
            urunler[i].style.display = "block";
        }
    });
    //Alt Kategoriye göre Listelensin
    $("#dr_altKategori").change(function () {
        var id = $(this).val();
        Temizle();
        var urunler = document.getElementsByClassName("alt_" + id);
        var sayac = 8;
        if (urunler.length < 8)
            sayac = urunler.length

        for (var i = 0; i < sayac; i++) {
            urunler[i].style.display = "block";
        }
    });


</script>


