
@using CoreLayer.Entities
@using CoreLayer.Dtos
@model StoreWeb.ViewModels.VM_Urunler

@{
    ViewData["Title"] = "Urunler";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div class="urunler">
    <div>
        <h3>  Filtrele</h3>
        <div class="drp">
            <select class="form-control" id="dr_kimeGore">
                <option>Kime Göre?</option>
                @foreach (var item in Model.kimeGore)
                {
                    <option value="@item.Id">
                        @item.kimeGore
                    </option>
                }
            </select>
        </div>
        @*<div class="drp">
            <select class="form-control" id="dr_Kategori">
                <option>Kategori Seç</option>
                @foreach (var item in Model.kategoriler)
                {
                    <option value="@item.Id">@item.KategoriAdi</option>
                }
            </select>
        </div>*@
        <div class="drp">
            <select class="form-control" id="dr_altKategori">
                <option>Alt Kategori Seç</option>
                @foreach (var item in Model.AltKategoris)
                {
                    <option value="@item.Id" class="altDrp altDrp_@item.KategoriId">@item.kategori.KategoriAdi @item.AltKategoriAdi</option>
                }
            </select>
        </div>
    </div>
    @*@{
        int page = 1;
    }*@
<div>
    <div id="urunListesi">

        @for (int i = 0; i < Model.Urunler.Count; i++)
        {
        <a href="/Urun/Detay?id=@Model.Urunler[i].Id">
            <div class="resimUrun alt_@Model.Urunler[i].AltKategoriId kimeGore_@Model.Urunler[i].kimeGoreId " style="background-image:url(@Model.Urunler[i].Resim)" id="urun_@i">
                <div class="innerbir"></div>
                <h6 class="inner" style="margin:0px;text-align:center;opacity:0.5; width:100%;background-color:navy;color:whitesmoke;">
                    @Model.Urunler[i].UrunAdi.Substring(0, Model.Urunler[i].UrunAdi.Substring(0, 20).LastIndexOf(" "))
                </h6>
            </div>
        </a>
        }
    </div>
</div>
</div>
<div class="sayfa">
    @if (Model.Urunler.Count % 8 != 0)
    {
        @for (int i = 0; i <= Model.Urunler.Count / 8; i++)
        {
            <button class="btnSayfa" onclick="sayfaDegistir(this);" id="@(i+1)">@(i+1)</button>}
    }
    else
    {
        @for (int i = 0; i <= Model.Urunler.Count / 8-1; i++)
        {
            <button class="btnSayfa" onclick="sayfaDegistir(this);" id="@(i+1)">@(i+1)</button>}
    
    }
</div>

<script>
    //$("#dr_Kategori").change(function () {
    //    var id = $(this).val();
    //    var drpAlt = document.getElementsByClassName("altDrp");
    //    var altKategoriler = document.getElementsByClassName("altDrp_" + id);
    //    for (var j = 0; j < drpAlt.length; j++) {
    //        var sayac = 0;
    //        for (var i = 0; i < altKategoriler; i++) {
    //            if (altKategoriler[i].className != drpAlt[j].className) {

    //            }

    //        }
    //    }
    //});


   
</script>
<style>
    /*.inner{
        margin:auto 0 0 0;
    }*/
  
    .btnSayfa {
        background-color: darkgrey;
        border:0px;
    }
    .sayfa{
        text-align:center;
        background-color:cornsilk;
        width:100%;
        margin:60px auto;
          border:1px solid;
    }
    .sayfa button{
        height:25px;
        width:25px;
        float:left;
        padding-bottom:2px
    }
    .sayfalama{
        color:black;
    }
    .urunler {
        display: grid;
        grid-template-columns: 20% 75%;
        margin: 30px auto;
    }

    .drp {
        margin-top: 20px;
    }

    #urunListesi {
        display: grid;
       min-height:500px;
        grid-template-columns: 23% 23% 23% 23%;
    }

    .innerbir {
        margin: 0px 2% 20px 10px;
        margin-left: 10px;
        height: 200px;
    }
    .resimUrun {
        display:grid;
        grid-template-rows:80% 20%;
        margin:0 15px 15px 15px;
        max-height:220px;
    }

        /*#urunListesi:first-child {
            margin-left: 50px;
        }*/

   </style>